.pendente {
    background-color: blue;
    color: white;
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
}
.pendente:hover {
    background-color: white;
    color: blue
}

.concluida {
    background-color: green;
    color: white;
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
}
.concluida:hover {
    background-color: white;
    color: green;
}

.excluida {
    background-color: red;
    color: white;
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
}
.excluida:hover {
    background-color: white;
    color: red;
}

.texto {
    
    color: black;
    margin: 15px;
    border-radius: 5px;
    padding: 5px;
}
ul {
    text-align: center;
    list-style: none;
    padding: 15px;

}
li {
display: inline;
text-align: center;
color: black;
margin: 15px;
border-radius: 5px;
padding: 10px;


}
h1 {
    text-align: center;
color: black;

}
body{
    background-color: black;
    width:  600px;
    margin: 0 auto;
    transition: all 0.3s linear;
}